convert
decrypt-aes-128-ecb
decrypt-aes-128-cbc
encrypt-aes-128-cbc
detect-aes-128-ecb
fixed-xor
single-byte-xor-cipher-crack
repeating-key-xor
repeating-key-xor-crack
compute-hamming-distance

# Vim
*~
*.sw[a-z]
.ycm_extra_conf.py

# Build
*.override
*.o
*.out
*.hex
*.elf
*.map
*.bin
*.srec
